/* Brittany Morris' Portfolio Site */
* {
  box-sizing: border-box;
}

/* The navigation bar */
.navbar {
  width: 100%;
  padding: 0px 0px;
  margin: 0 auto;
  height: 80px;
  font-size: 18px;
}

.navbar-brand {
  font-size: 35px;
  letter-spacing: 1.5px;
  font-weight: semibold;
  border: 2px solid white;
  padding-left: 16px;
  padding-right: 16px;
}


.navbar-scroll {
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 0.5s;
  color: white;
}

/* Global Styles */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Mada', sans-serif;
  letter-spacing: 0.1rem;
}

h1 {
  font-weight: 600;
  text-align: center;
}

h3 {
  font-weight: 600;
}

.heading-text {
  font-size: 4em;
}

section {
  padding: 5em 0;
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}


/* Masthead Styles */
header.masthead {
  position: relative
  color: #fff;
  background: #949c4e;
  background-image: url("../images/background8.png");
  background-size: cover;
  background-position: center center;
  padding: 6em 0;
  height: 100vh;
}

@media (min-width: 768px) {
  header.masthead {
    padding: 11em 0;
  }
}

.profileImage {
  height: 560px;

}

/* Services Section */
section.services {
  position: relative;
  background-image: url("https://mattdobsonweb.github.io/Basic-Bootstrap-Portfolio/images/bg-services.jpg");
  background-size: cover;
  background-position: center bottom;
}

.services .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #212529;
  opacity: 0.7;
}

#portfolioBtn {
  margin-top: 20px;
}

#services {
  padding-top: 70px;

  border-radius: 50%;
}

#html {
  padding-right: 30px;
}

#css {
  padding-right: 30px;
}

#js {
  padding-right: 30px;
}

#bootstrap {
  padding-right: 30px;
}

#node {
  padding-right: 30px;
}

#adobe {
  padding-right: 30px;
}

.services .service-icon i:hover {
  font-size: 6em;
}

/* Portfolio Section */
section.portfolio {
  padding-bottom: 0;
}

.portfolio-header {
  margin-bottom: 5em;
}

.portfolio .portfolio-image {
  min-height: 30rem;
  background-size: cover;
  background-position: center center;
}

.portfolio .item-1 {
  background-image: url("../images/bg-showcase-5.png");
}

.portfolio .item-2 {
  background-image: url("../images/bg-showcase-2.png");
}

.portfolio .item-3 {
  background-image: url("../images/bg-showcase-10.png");
}

.portfolio .portfolio-text {
  padding: 8em;
}


.portfolio .item-4 {
  background-image: url("../images/bg-showcase-8.png");
}

#evenInfo {
  margin-left: 60px;
}

#oddInfo {
  margin-left: 60px;
  margin-right: 180px;
}

/* Contact Section */
.card {
  margin: 0 auto;
}

input,
textarea {
  outline: none;
  border: 1px solid #ccc !important;
  box-shadow: none !important;
}

/*Remove bootstrap blue glow */


form {
  max-width: 600px;
  margin: 25px;
}

.feedback-input {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}


/* Footer */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: block;
  padding-bottom: 10px;
  margin: 0;
  padding-top: 20px;
  height: 60px;
  text-align: center;
  font-size: small;
  background: #E8E8E8;
}

.footer .fab {
  float: right;
}

/* Scroll to Top Button */
button.scroll-top {
  z-index: 1049;
  position: fixed;
  visibility: visible;
  bottom: 2%;
  right: 2%;
  margin-bottom: 60px;
  border-radius: 50%;
  border: 1px solid transparent;
  min-height: 50px;
  min-width: 50px;
  background-color: rgba(0, 0, 0, 0.3);
}

button.scroll-top i {
  color: #8e9eab;
}

button.scroll-top:hover,
button.scroll-top:focus {
  background-color: rgba(0, 0, 0, 0.6);
}

button.scroll-top:hover i,
button.scroll-top:focus i {
  color: white;
}

.scroll-top,
.scroll-top:focus {
  outline: 0;
  box-shadow: none !important;
}