/* Brittany Morris' Portfolio Site */
* {
  box-sizing: border-box;
}

/* The navigation bar */
.navbar {
  width: 100%;
  padding: 0px 0px;
  margin: 0 auto;
  height: 80px;
  font-size: 18px;
}

.navbar-brand {
  font-size: 35px;
  letter-spacing: 1.5px;
  font-weight: semibold;
  border: 2px solid white;
  padding-left: 16px;
  padding-right: 16px;
}

.nav-link {
  color: white;
}

.navbar-scroll {
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 0.5s;
  color: white;
}

/* Global Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Mada', sans-serif;
  letter-spacing: 0.1rem;
}

h1 {
  font-weight: 800;
}

h3 {
  font-weight: 600;
  padding: 12px;
  text-align: center;
  padding-top: 5px;
}

h4 {
  padding-top: 20px;
  text-align: center;
}

.heading-text {
  font-size: 53px;
}

.container {
  letter-spacing: 1px;
  
}

section {
  padding: 5em 0;
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.aboutMe {
  color: #666666;
  padding-bottom: 15px;
}

p {
  text-align: center;
}

.aboutMeButtons {
  margin-top: 10px;
  display: block;
}

/* Masthead Styles */
header.masthead {
  position: relative;
  background-image: url("../images/background_dark.png");
  background-size: cover;
  background-position: center center;
  padding: 6em 0;
  height: 630px;
}

@media (min-width: 768px) {
  header.masthead {
    padding: 11em 0;
  }
}

.masthead-text {
  font-size: 50px;
}

.profileImage {
  height: 540px;
  width: 100%;
  height: auto;
}

.aboutMeInfo {
  margin: 10px;
}

/* Services Section */
.services-header {
  color: #1618b8;
}

.header-info{
  color:#212529;
}

.mb-0 {
  color: #666666;
}

section.services {
  position: relative;
  margin-top: 20px;
  background-color:#E8E8E8;
}

#portfolioBtn:focus, .btn:active {
  box-shadow: none; /* Removes blue halo */
}

#portfolioBtn {
  background-color: 0;
  border-color: #408eff;
  margin-top: 30px;
  color:white;
  border-width: 2px;
}

.order-lg-6 {
  padding: 6px !important;
}

#services {
  padding-top: 70px;
  color: #1618b8;
}

#tools {
  width:100%;
  height: auto;

}

#html {
  padding-right: 30px;
  color: #1618b8;
}

#css {
  padding-right: 30px;
  color: #1618b8;
}

#js {
  color: #1618b8;
  padding-right: 30px;
}

#bootstrap {
  color: #1618b8;
  padding-right: 30px;
}

#node {
  color: #1618b8;
  padding-right: 30px;
}

#adobe {
  color: #1618b8;
  padding-right: 30px;
}

#react{
  color: #1618b8;
  padding-right: 30px;
}

.services .service-icon i:hover {
  font-size: 6em;
}

/* Portfolio Section */
#portfolioInfo {
  padding:70px;
}

#viewPage {
  margin-right: 10px;
}

.col-lg-6 {
  padding: 10px;
}

.builtWith {
  padding-top: 5px;
  padding-bottom: 15px;
  font-size: 12px;
  text-align: center;
  color: #666666;
}

.twoButtons {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.githubIcon {
  padding-right:5px;
}

#githubRepo,
#submitBtn,
#viewResume {
  margin: 0 auto;
  cursor: pointer;
  /* Pointer/hand icon */
  outline: none;
  box-shadow: none !important;
  background-color:#1618b8;
  margin-top: 8px;
  border-color:#1618b8;
}

#viewResume:hover {
  background-color: white;
  color: #1618b8;
}

#viewPage {
  cursor: pointer;
  /* Pointer/hand icon */
  outline: none;
  box-shadow: none !important;
  margin-right: 5px;
  margin-top: 8px;
  border-color: #1618b8;
  color: #1618b8;
}

#viewPage:hover {
  background-color:#1618b8;
  color:white;
}

section.portfolio {
  padding-bottom: 0;
}

.portfolio-header {
  margin-bottom: 5em;
}

/* Responsive Buttons */
@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    border-radius:3px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}


/* Contact Section */
#contact {
  background-color: #E8E8E8;
}

input[type=text] {
  background-color: white;
  color:#212529;
}

input[type="text"], textarea {
  background-color : white;
  color:#212529;
}

.fa-map-marker{
  padding-top: 20px;
}

#phone {
  padding-top: 20px;
}

#contactDetails {
  text-align: left;
  margin-top: 15px;
}

input,
textarea {
  outline: none;
  border: none !important;
  background-color: white !important;
  box-shadow: none !important;
}

/*Remove bootstrap blue glow */
form {
  max-width: 600px;
  margin-right: 35px;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}


.feedback-input {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px;
}

/* Footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: block;
  padding-bottom: 10px;
  margin: 0;
  padding-top: 20px;
  height: 60px;
  text-align: center;
  font-size: small;
  background: #f9f9f9;
}

.footer .fab {
  float: right;
}

.fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-right: 420px;
  padding-top: 20px;
  height: 60px;
  display: block;
}

.fab {
  padding-left: 5px;
  color: white;
}

.far {
  padding-left: 10px;
  color: #1618b8;
}

.socials,
.fa-envelope,
.fa-map-marker {
  color: #1618b8;
  text-decoration: none !important; 
}

.socialsEnvelope {
padding-left: 5px;

}

.fa-phone { 
  color: #1618b8;
  padding-top: 20px;
}

/* Scroll to Top Button */
button.scroll-top {
  z-index: 1049;
  position: fixed;
  visibility: visible;
  bottom: 2%;
  right: 2%;
  margin-bottom: 60px;
  border-radius: 50%;
  border: 1px solid transparent;
  min-height: 50px;
  min-width: 50px;
  background-color: rgba(0, 0, 0, 0.3);
}

button.scroll-top i {
  color: #8e9eab;
}

button.scroll-top:hover,
button.scroll-top:focus {
  background-color: rgba(0, 0, 0, 0.6);
}

button.scroll-top:hover i,
button.scroll-top:focus i {
  color: white;
}

.scroll-top,
.scroll-top:focus {
  outline: 0;
  box-shadow: none !important;
}

/* Portfolio */

ul {
  list-style-type: none;
}


p {
  padding: 4px;
}

.card {
  display: inline-block;
  text-align: center;
  margin-bottom: 30px;
}

.card-text {
  color: #666666;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.projects {
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 7px;
}

@media only screen and (max-width: 800px) {
  .projects {
    grid-template-columns: 80%; 
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 7px;
  }
  }