/* Brittany Morris' Portfolio Site */
* {
  box-sizing: border-box;
}


/* The navigation bar */
.navbar {
  width: 100%;
  padding: 0px 0px;
  margin: 0 auto;
  height: 80px;
  font-size: 18px;
}

.navbar-brand {
  font-size: 35px;
  letter-spacing: 1.5px;
  font-weight: semibold;
  border: 2px solid white;
  padding-left: 16px;
  padding-right: 16px;
 }


.navbar-scroll {
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 0.5s;
  color: white;
}

@media(max-width: 768px){
    .navbar {background-color: rgba(0, 0, 0, 0.7) !important; }
}

.container {
  width: 1000px;
  padding: 0px 0px;
  margin: 0 auto;
}

/* Global Styles */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Mada', sans-serif;
  letter-spacing: 0.1rem;
}

h1 {
  font-weight: 600;
}

h3 {
  font-weight: 600;
}

.heading-text {
  font-size: 3.5em;
}

section {
  padding: 5em 0;
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}


/* Masthead Styles */
header.masthead {
  position: relative;
  background-image: url("../images/papyrus-dark.png");
  background-size: cover;
  background-position: center center;
  padding: 6em 0;
}

@media (min-width: 768px) {
  header.masthead {
    padding: 11em 0;
  }
}

header.masthead .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #212529;
  opacity: 0.7;
}

.profileImage {
height:560px;

}
/* Services Section */
section.services {
  position: relative;
  background-image: url("https://mattdobsonweb.github.io/Basic-Bootstrap-Portfolio/images/bg-services.jpg");
  background-size: cover;
  background-position: center bottom;
}

.services .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #212529;
  opacity: 0.7;
}

.fab {
  padding-top: 70px;
  padding-right: 30px;
}

.services .service-icon i:hover {
  font-size: 6em;
}

/* Portfolio Section */
section.portfolio {
  padding-bottom: 0;
}

.portfolio-header {
  margin-bottom: 5em;
}

.portfolio .portfolio-image {
  min-height: 30rem;
  background-size: cover;
  background-position: center center;
}

.portfolio .item-1 {
  background-image: url("https://mattdobsonweb.github.io/Basic-Bootstrap-Portfolio/images/bg-showcase-1.jpg");
}

.portfolio .item-2 {
  background-image: url("https://mattdobsonweb.github.io/Basic-Bootstrap-Portfolio/images/bg-showcase-2.jpg");
}

.portfolio .item-3 {
  background-image: url("https://mattdobsonweb.github.io/Basic-Bootstrap-Portfolio/images/bg-showcase-3.jpg");
}

.portfolio .portfolio-text {
  padding: 8em;
}

/* Contact Section */
.contact .contact-icon {
  height: 7em;
}

.contact .contact-icon i {
  font-size: 2em;
}

.contact .contact-icon i:hover {
  font-size: 6em;
}

.form-group {
  padding:5px;
}

.contact-form {
  padding: 50px;
  margin: 30px auto;
}	

.contact-form h1 {

        margin: 0 0 50px;
        text-align: center;
    }

    .contact-form .form-group {
        margin-bottom: 20px;
    }

    .contact-form .form-control, .contact-form .btn {
        min-height: 38px;
        border-radius: 2px;
    }

	.contact-form .form-control {

  }
  
	.contact-form .form-control:focus {
		border-color: none;
		box-shadow: 0
  }
  
    .contact-form .btn-primary {
        min-width: 250px;
        background: #000;
        margin-top: 20px;
        border: none;
    }

    .contact-form .btn-primary:hover {
        color: #fff; 
    }

    .contact-form .btn-primary i {
        margin-right: 5px;
    }

    .contact-form label {
        opacity: 0.9;
    }

    .contact-form textarea {
        resize: vertical;
    }
    
    .bs-example {
    	margin: 20px;
    }

/* Footer */


footer {
  left: 0;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 20px;
  height:100px;
  font-size: small;
  
  background-color: #E8E8E8;
}

/* Scroll to Top Button */
button.scroll-top {
  z-index: 1049;
  position: fixed;
  visibility: visible;
  bottom: 2%;
  right: 2%;
  border-radius: 50%;
  border: 1px solid transparent;
  min-height: 50px;
  min-width: 50px;
  background-color: rgba(0, 0, 0, 0.3);
}

button.scroll-top i {
  color: #8e9eab;
}

button.scroll-top:hover, button.scroll-top:focus {
  background-color: rgba(0, 0, 0, 0.6);
}

button.scroll-top:hover i, button.scroll-top:focus i {
  color: white;
}
